AzureMetric2Slack.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_for_Deactivated_Status": {
                "actions": {
                    "Mark_Succeeded_(Status)_(Deactivated)": {
                        "inputs": {
                            "runStatus": "Succeeded"
                        },
                        "runAfter": {
                            "REST_to_<Channel>-Alert_(Status)_(Deactivated)": [
                                "Succeeded"
                            ]
                        },
                        "type": "Terminate"
                    },
                    "REST_to_<Channel>-Alert_(Status)_(Deactivated)": {
                        "inputs": {
                            "body": {
                                "attachments": [
                                    {
                                        "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                        "color": "#00cd00",
                                        "fields": [
                                            {
                                                "title": "Status",
                                                "value": "@{triggerBody()?['data']?['status']}"
                                            },
                                            {
                                                "title": "Alert Name",
                                                "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                            },
                                            {
                                                "title": "Timestamp",
                                                "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                            },
                                            {
                                                "short": true,
                                                "title": "Metric",
                                                "value": "@{variables('MetricName')} is @{variables('Operator')} against a threshold of @{variables('Threshold')}"
                                            },
                                            {
                                                "short": true,
                                                "title": "Metric Value",
                                                "value": "@{variables('MetricValue')}"
                                            },
                                            {
                                                "title": "Affected Resources",
                                                "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                            }
                                        ],
                                        "footer": "Slack API (Last <Squad> Modification)",
                                        "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                        "image_url": "http://my-website.com/path/to/image.jpg",
                                        "mrkdwn_in": [
                                            "fields"
                                        ],
                                        "pretext": "Squad's monitoring bot that uses REST",
                                        "text": "Documentation in the link above\n------------------------------------",
                                        "thumb_url": "http://example.com/path/to/thumb.png",
                                        "title": "<Squad> Monitoring",
                                        "title_link": "<URL>",
                                        "ts": "1546651701"
                                    }
                                ]
                            },
                            "method": "POST",
                            "uri": ""
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['data']?['status']",
                                "Deactivated"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Filter_to_Workspaces": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Checking_for_null_or_*": {
                "actions": {
                    "Terminate_(Null_or_*)": {
                        "inputs": {
                            "runError": {
                                "message": "Detected a Null or *"
                            },
                            "runStatus": "Failed"
                        },
                        "runAfter": {},
                        "type": "Terminate"
                    }
                },
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@variables('MetricValue')",
                                null
                            ]
                        },
                        {
                            "contains": [
                                "@outputs('Wrap_CombinedValues')",
                                "*"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Wrap_CombinedValues": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Filter_to_Computer_Names_Only": {
                "inputs": {
                    "from": "@variables('CombinedValues')",
                    "where": "@contains(item(), 'skyscanner.local')"
                },
                "runAfter": {
                    "Wrap_Severity": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "Filter_to_Workspaces": {
                "inputs": {
                    "from": "@variables('CombinedValues')",
                    "where": "@contains(item(), '/subscriptions/')"
                },
                "runAfter": {
                    "Filter_to_Computer_Names_Only": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "For_each": {
                "actions": {
                    "Loop_Dimension_Array": {
                        "actions": {
                            "Append_to_CombinedValues_array": {
                                "inputs": {
                                    "name": "CombinedValues",
                                    "value": "@items('Loop_Dimension_Array')?['value']"
                                },
                                "runAfter": {},
                                "type": "AppendToArrayVariable"
                            }
                        },
                        "foreach": "@items('For_each')?['dimensions']",
                        "runAfter": {
                            "Set_Threshold": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Set_MetricName": {
                        "inputs": {
                            "name": "MetricName",
                            "value": "@items('For_each')?['metricName']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Set_MetricValue": {
                        "inputs": {
                            "name": "MetricValue",
                            "value": "@items('For_each')?['metricValue']"
                        },
                        "runAfter": {
                            "Set_MetricName": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_Operator": {
                        "inputs": {
                            "name": "Operator",
                            "value": "@items('For_each')?['operator']"
                        },
                        "runAfter": {
                            "Set_MetricValue": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_Threshold": {
                        "inputs": {
                            "name": "Threshold",
                            "value": "@items('For_each')?['threshold']"
                        },
                        "runAfter": {
                            "Set_Operator": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "foreach": "@triggerBody()?['data']?['context']?['condition']?['allOf']",
                "runAfter": {
                    "Initialize_MetricValue": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_CombinedValues": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CombinedValues",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_MetricName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MetricName",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CombinedValues": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_MetricValue": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MetricValue",
                            "type": "Float"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Threshold": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Operator": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Operator",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_MetricName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Threshold": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Threshold",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Operator": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Operator_Outcomes": {
                "cases": {
                    "GreaterThan": {
                        "actions": {
                            "For_GreaterThan_Condition": {
                                "actions": {
                                    "Terminate_(GreaterThan_Condition)": {
                                        "inputs": {
                                            "runError": {
                                                "message": "Stopped under GreaterThan Condition as MetricValue smaller than Threshold"
                                            },
                                            "runStatus": "Failed"
                                        },
                                        "runAfter": {},
                                        "type": "Terminate"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Severity_Lvl_Colors_(GreaterThan)": {
                                            "cases": {
                                                "Severity_0_(GreaterThan)": {
                                                    "actions": {
                                                        "REST_to_WSS-Alert_(GreaterThan)_(Severity_0)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Squad>-MetricAlert2Slack",
                                                                            "color": "#ff0000",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "WSS Monitoring",
                                                                            "title_link": "h<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 0
                                                },
                                                "Severity_1_(GreaterThan)": {
                                                    "actions": {
                                                        "REST_to_<Channel>-Alert_(GreaterThan)_(Severity_1)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                            "color": "#ffbf00",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "<Squad> Monitoring",
                                                                            "title_link": "<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 1
                                                },
                                                "Severity_2_(GreaterThan)": {
                                                    "actions": {
                                                        "REST_to_<Channel>-Alert_(GreaterThan)_(Severity_2)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                            "color": "#0040ff",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "<Squad> Monitoring",
                                                                            "title_link": "<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 2
                                                }
                                            },
                                            "default": {
                                                "actions": {
                                                    "REST_to_<Channel>-Alert_(GreaterThan)_(Default)": {
                                                        "inputs": {
                                                            "body": {
                                                                "attachments": [
                                                                    {
                                                                        "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                        "color": "#A9A9A9",
                                                                        "fields": [
                                                                            {
                                                                                "title": "Status",
                                                                                "value": "@{triggerBody()?['data']?['status']}"
                                                                            },
                                                                            {
                                                                                "title": "Alert Name",
                                                                                "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                            },
                                                                            {
                                                                                "title": "Timestamp",
                                                                                "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                            },
                                                                            {
                                                                                "short": true,
                                                                                "title": "Metric",
                                                                                "value": "@{variables('MetricName')} is @{variables('Operator')} against a threshold of @{variables('Threshold')}"
                                                                            },
                                                                            {
                                                                                "short": true,
                                                                                "title": "Metric Value",
                                                                                "value": "@{variables('MetricValue')}"
                                                                            },
                                                                            {
                                                                                "title": "Affected Resources",
                                                                                "value": ">_Connected Workspace_: `@{body('Filter_to_Workspaces')}`\n\n>_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                            }
                                                                        ],
                                                                        "footer": "Slack API (Last <Squad> Modification)",
                                                                        "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                        "image_url": "http://my-website.com/path/to/image.jpg",
                                                                        "mrkdwn_in": [
                                                                            "fields"
                                                                        ],
                                                                        "pretext": "Squad's monitoring bot that uses REST",
                                                                        "text": "Documentation in the link above\n------------------------------------",
                                                                        "thumb_url": "http://example.com/path/to/thumb.png",
                                                                        "title": "<Squad> Monitoring",
                                                                        "title_link": "<URL>",
                                                                        "ts": "1546651701"
                                                                    }
                                                                ]
                                                            },
                                                            "method": "POST",
                                                            "uri": ""
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                }
                                            },
                                            "expression": "@int(outputs('Wrap_Severity'))",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    }
                                },
                                "expression": {
                                    "or": [
                                        {
                                            "less": [
                                                "@variables('MetricValue')",
                                                "@int(outputs('Wrap_Threshold'))"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {},
                                "type": "If"
                            }
                        },
                        "case": "GreaterThan"
                    },
                    "LessThan": {
                        "actions": {
                            "For_LessThan_Condition": {
                                "actions": {
                                    "Terminate_(LessThan)": {
                                        "inputs": {
                                            "runError": {
                                                "message": "Stopped under LessThan Condition as MetricValue greater than Threshold"
                                            },
                                            "runStatus": "Failed"
                                        },
                                        "runAfter": {},
                                        "type": "Terminate"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Severity_Lvl_Colors_(LessThan)": {
                                            "cases": {
                                                "Severity_0_(LessThan)": {
                                                    "actions": {
                                                        "REST_to_<Channel>-Alert_(LessThan)_(Severity_0)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                            "color": "#ff0000",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "<Squad> Monitoring",
                                                                            "title_link": "<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 0
                                                },
                                                "Severity_1_(LessThan)": {
                                                    "actions": {
                                                        "REST_to_<Channel>-Alert_(LessThan)_(Severity_1)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                            "color": "#ffbf00",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "<Squad> Monitoring",
                                                                            "title_link": "<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 1
                                                },
                                                "Severity_2_(LessThan)": {
                                                    "actions": {
                                                        "REST_to_<Channel>-Alert_(LessThan)_(Severity_2)": {
                                                            "inputs": {
                                                                "body": {
                                                                    "attachments": [
                                                                        {
                                                                            "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                            "color": "#0040ff",
                                                                            "fields": [
                                                                                {
                                                                                    "title": "Status",
                                                                                    "value": "@{triggerBody()?['data']?['status']}"
                                                                                },
                                                                                {
                                                                                    "title": "Alert Name",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                                },
                                                                                {
                                                                                    "title": "Timestamp",
                                                                                    "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric",
                                                                                    "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                                },
                                                                                {
                                                                                    "short": true,
                                                                                    "title": "Metric Value",
                                                                                    "value": "@{variables('MetricValue')}"
                                                                                },
                                                                                {
                                                                                    "title": "Affected Resources",
                                                                                    "value": ">_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                                }
                                                                            ],
                                                                            "footer": "Slack API (Last <Squad> Modification)",
                                                                            "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                            "image_url": "http://my-website.com/path/to/image.jpg",
                                                                            "mrkdwn_in": [
                                                                                "fields"
                                                                            ],
                                                                            "pretext": "Squad's monitoring bot that uses REST",
                                                                            "text": "Documentation in the link above\n------------------------------------",
                                                                            "thumb_url": "http://example.com/path/to/thumb.png",
                                                                            "title": "<Squad> Monitoring",
                                                                            "title_link": "<URL>",
                                                                            "ts": "1546651701"
                                                                        }
                                                                    ]
                                                                },
                                                                "method": "POST",
                                                                "uri": ""
                                                            },
                                                            "runAfter": {},
                                                            "type": "Http"
                                                        }
                                                    },
                                                    "case": 2
                                                }
                                            },
                                            "default": {
                                                "actions": {
                                                    "REST_to_<Channel>-Alert_(LessThan)_(Default)": {
                                                        "inputs": {
                                                            "body": {
                                                                "attachments": [
                                                                    {
                                                                        "author_name": "Azure Logic App: <Channel>-MetricAlert2Slack",
                                                                        "color": "#A9A9A9",
                                                                        "fields": [
                                                                            {
                                                                                "title": "Status",
                                                                                "value": "@{triggerBody()?['data']?['status']}"
                                                                            },
                                                                            {
                                                                                "title": "Alert Name",
                                                                                "value": "@{triggerBody()?['data']?['context']?['name']} occurred at Severity Lvl @{triggerBody()?['data']?['context']?['severity']}"
                                                                            },
                                                                            {
                                                                                "title": "Timestamp",
                                                                                "value": "@{triggerBody()?['data']?['context']?['timestamp']}"
                                                                            },
                                                                            {
                                                                                "short": true,
                                                                                "title": "Metric",
                                                                                "value": "@{variables('MetricName')} is @{variables('Operator')} \nagainst a threshold of @{variables('Threshold')}"
                                                                            },
                                                                            {
                                                                                "short": true,
                                                                                "title": "Metric Value",
                                                                                "value": "@{variables('MetricValue')}"
                                                                            },
                                                                            {
                                                                                "title": "Affected Resources",
                                                                                "value": ">_Connected Workspace_: `@{body('Filter_to_Workspaces')}`\n\n>_Machine_: `@{body('Filter_to_Computer_Names_Only')}`"
                                                                            }
                                                                        ],
                                                                        "footer": "Slack API (Last <Squad> Modification)",
                                                                        "footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
                                                                        "image_url": "http://my-website.com/path/to/image.jpg",
                                                                        "mrkdwn_in": [
                                                                            "fields"
                                                                        ],
                                                                        "pretext": "Squad's monitoring bot that uses REST",
                                                                        "text": "Documentation in the link above\n------------------------------------",
                                                                        "thumb_url": "http://example.com/path/to/thumb.png",
                                                                        "title": "<Squad> Monitoring",
                                                                        "title_link": "<URL>",
                                                                        "ts": "1546651701"
                                                                    }
                                                                ]
                                                            },
                                                            "method": "POST",
                                                            "uri": ""
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                }
                                            },
                                            "expression": "@int(outputs('Wrap_Severity'))",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    }
                                },
                                "expression": {
                                    "or": [
                                        {
                                            "greater": [
                                                "@variables('MetricValue')",
                                                "@int(outputs('Wrap_Threshold'))"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {},
                                "type": "If"
                            }
                        },
                        "case": "LessThan"
                    }
                },
                "default": {
                    "actions": {
                        "Terminate_(Operator_Outcomes)": {
                            "inputs": {
                                "runError": {
                                    "message": "Stopped as Default Case under Operator Outcomes"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {},
                            "type": "Terminate"
                        }
                    }
                },
                "expression": "@variables('Operator')",
                "runAfter": {
                    "Wrap_Threshold": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            },
            "Wrap_CombinedValues": {
                "inputs": "@variables('CombinedValues')",
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Wrap_Severity": {
                "inputs": "@triggerBody()?['data']?['context']?['severity']",
                "runAfter": {
                    "Checking_for_null_or_*": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Wrap_Threshold": {
                "inputs": "@variables('Threshold')",
                "runAfter": {
                    "Check_for_Deactivated_Status": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "context": {
                                        "properties": {
                                            "condition": {
                                                "properties": {
                                                    "allOf": {
                                                        "items": {
                                                            "properties": {
                                                                "dimensions": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "value"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "metricName": {
                                                                    "type": "string"
                                                                },
                                                                "metricValue": {
                                                                    "type": "integer"
                                                                },
                                                                "operator": {
                                                                    "type": "string"
                                                                },
                                                                "threshold": {
                                                                    "type": "string"
                                                                },
                                                                "timeAggregation": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "metricName",
                                                                "dimensions",
                                                                "operator",
                                                                "threshold",
                                                                "timeAggregation",
                                                                "metricValue"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "windowSize": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "conditionType": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "portalLink": {
                                                "type": "string"
                                            },
                                            "resourceGroupName": {
                                                "type": "string"
                                            },
                                            "resourceId": {
                                                "type": "string"
                                            },
                                            "resourceName": {
                                                "type": "string"
                                            },
                                            "resourceType": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "subscriptionId": {
                                                "type": "string"
                                            },
                                            "timestamp": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "properties": {
                                        "properties": {
                                            "key1": {
                                                "type": "string"
                                            },
                                            "key2": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "version": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "schemaId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
}